[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
pandas = "*"
requests = "*"
pydantic = "*"
loguru = "*"
flask-graphql = "*"
pymongo = "*"
fastapi = "*"
graphene = "*"
graphql-core = "*"

[dev-packages]

[requires]
python_version = "3.8"
