[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-graphql = "*"
pytest = "*"
graphql-core = "==2.2.1"
graphene = "==2.1.8"
pymongo = "*"

[dev-packages]

[requires]
python_version = "3.9"
